<i class="close icon"></i>
    <div class="header">
        Add Workspace
    </div>
    <form>
    <div class="ui content form segment">

        <div class="two fields">
        <div class="field">
            <label>Name the Project or Workspace</label>
            <input placeholder="Workspace Title" type="text"
                   id="workspace-title" name="title">
        </div>

        <div class="field">
            <label>Alias</label>
            <input placeholder="workspace Alias" name="alias"
                   id="workspace-alias"  type="text" >
        </div>
        </div>

        <div id="testTab" class="ui pointing secondary demo menu">
            <a class="active red item" data-tab="first">Description</a>
            <a class="blue item" data-tab="second">Project Type</a>
            <a class="green item" data-tab="third">Dates</a>
        </div>
        <div class="ui active basic tab segment" data-tab="first">
            <div class="field">
                <textarea name="description" id="workspace-description" ></textarea>
            </div>
        </div>
        <div class="ui tab segment" data-tab="second">
            <div class="field">
                <label>Owner Email</label>
                <input placeholder="Owner Email" name="ownerEmail"
                       id="workspace-ownerEmail"
                       type="text" >
            </div>
            <div class="field">
                <div class="ui selection dropdown">
                    <input type="hidden" name="workspaceType" id="workspace-workspaceType
                    " >
                    <div class="text">Workspace for a
                        Project</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="Project">Workspace for a
                            Project</div>
                        <div class="item active"
                             data-value="Workarea">Workspace for a Department</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui two fields tab segment" data-tab="third">
            <div class="date field">
                <label>Start Date (optional)</label>
                <input type="text" placeholder="xx/xx/xxxx" name="startDate"
                       id="workspace-startDate" >
            </div>
            <div class="date field">
                <label>End Date (optional)</label>
                <input type="text" placeholder="xx/xx/xxxx"
                       name="endDate" id="workspace-endDate">
            </div>
        </div>



    </div>
    <div class="actions">
        <div class="ui buttons">
            <div class="ui blue button js-submit">Add Workspace</div>
            <div class="or"></div>
        <div class="ui  basic button js-cancel">Cancel</div>


        </div>
    </div>
</form>
