<div class="ui main grid app workspace home">
    <div class="main row metro tile-area">
        <section class="sixteen wide main secondary content wrapper column">

            <div class="metro tile-group">
            <div class="metro tile double selected">
                title
            </div>
            <div class="metro tile double">
                calendar
            </div>
            <div class="metro tile">
                status
            </div>
            <a href="#" class="metro tile half bg-darkRed">
                <div class="metro tile-content icon">
                    <span class="metro icon-camera"></span>
                </div>
            </a>
            <a href="#" class="metro tile half bg-darkRed">
                <div class="metro tile-content icon">
                    <span class="metro icon-camera"></span>
                </div>
            </a>
            <a href="#" class="metro tile half bg-darkRed">
                <div class="metro tile-content icon">
                    <span class="metro icon-camera"></span>
                </div>
            </a>
            <a href="#" class="metro tile half bg-darkRed">
                <div class="metro tile-content icon">
                    <span class="metro icon-camera"></span>
                </div>
            </a>
            <div class="metro tile double double-vertical">
                tasks
            </div>
            <div class="metro tile double">
                <div class="metro tile-content image-set">
                    <img src="images/jeki_chan.jpg">
                    <img src="images/jek_vorobey.jpg">
                    <img src="images/jolie.jpg">
                    <img src="images/obama.jpg">
                    <img src="images/shvarcenegger.jpg">
                </div>
            </div>
            <a href="#" class="metro tile bg-lightBlue">
                <div class="metro tile-content icon">
                    <span class="metro icon-IE"></span>
                </div>
                <div class="metro brand">
                    <div class="label">Internet Explorer</div>
                </div>
            </a>
            <a href="#" class="metro tile bg-darkOrange">
                <div class="metro tile-content icon">
                    <span class="metro icon-help"></span>
                </div>
                <div class="metro brand">
                    <div class="metro label">Help+Tips</div>
                </div>
            </a>
            <a class="metro tile double bg-lightBlue">
                <div class="metro tile-content image">
                    <img src="images/windows_8_default_13_wallpaper.jpg">
                </div>
                <div class="metro brand">
                    <div class="metro label">Desktop</div>
                </div>
            </a><a class="metro tile double bg-darkGreen">
            <div class="metro tile-content icon">
                <span class="metro icon-cart-2"></span>
            </div>
            <div class="metro brand">
                <div class="metro label">Store</div>
            </div>
        </a>
            </div>
        </section>
    </div>
</div>