    <nav id="primary-page-menu" class="ui inverted borderless fixed menu">
        <div class="page primary navigation container"><a id="mainmenu" class="item"><i
                class="metro icon-lines"></i></a><a class="item"><img
                src="/assets/images/logo2.png"></a>
            <!--.right.menu
            <div class="item">
              <div class="ui icon input">
                <input type="text" placeholder="Search..."/><i class="search link icon"></i>
              </div>
            </div>
            <div class="item">
              <div class="ui mini buttons">
                <div class="ui button">Login</div>
                <div class="or"></div>
                <div class="ui primary button">Register</div>
              </div>
            </div>
            -->
        </div>
    </nav>
    <nav id="secondary-page-menu" class="page secondary navigation">
        <div class="page container">
            <div class="ui inverted borderless large menu"><a href="/index.html"
                                                              class="active item"><i
                    class="hospital icon"></i>Home</a><a href="/news.html" class="item"><i
                    class="home icon"></i>News</a><a href="/working-at-uhwi.html"
                                                     class="item"><i
                    class="info icon"></i>Working at UHWI</a><a class="item"><i
                    class="settings icon"></i>Resources</a><a class="item"><i
                    class="chat icon"></i>Collaboration</a></div>
        </div>
    </nav>
